html, body, canvas{
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
canvas{
	display: block;
	background-color: rgb(248, 240, 217);
    height: 100%;
    width: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 140px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.front {
	background-image: url('../img/splash.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.back {
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}
.card.flipped {
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}

.round-button {
	width:16%;
	position: absolute;
	left: 42%;
	top: 56%;

}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid gray;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    background-image: url('../img/play.png');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 3px gray;
    display: block;

}

.round-button-circle2{
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid gray;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    background-image: url('../img/playagain.png');
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 3px gray;
    display: block;
}
.round-button-circle:hover {
	background-image: url('../img/instructions.png');
	cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}
.round-button-circle2:hover {
	background-image: url('../img/instructions.png');
	cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}